In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
tables = ["DimCurrency", "DimCustomer", "DimDate", "DimEmployee",
              "DimGeography", "DimProduct", "DimProductCategory", "DimProductSubcategory",
              "DimPromotion", "DimSalesTerritory", "FactInternetSales", "FactResellerSales"]

In [3]:
# Load data

DimCurrency = pd.read_csv("data/DimCurrency.csv")
DimCustomer = pd.read_csv("data/DimCustomer.csv")
DimDate = pd.read_csv("data/DimDate.csv")
DimEmployee = pd.read_csv("data/DimEmployee.csv")
DimGeography = pd.read_csv("data/DimGeography.csv")
DimProduct = pd.read_csv("data/DimProduct.csv")
DimProductCategory = pd.read_csv("data/DimProductCategory.csv")
DimProductSubcategory = pd.read_csv("data/DimProductSubcategory.csv")
DimPromotion = pd.read_csv("data/DimPromotion.csv")
DimSalesTerritory = pd.read_csv("data/DimSalesTerritory.csv")
FactInternetSales = pd.read_csv("data/FactInternetSales.csv")
FactResellerSales = pd.read_csv("data/FactResellerSales.csv")

In [4]:
DimCurrency.head()

   CurrencyKey CurrencyAlternateKey    CurrencyName
0            1                  AFA         Afghani
1            2                  DZD  Algerian Dinar
2            3                  ARS  Argentine Peso
3            4                  AMD   Armenian Dram
4            5                  AWG  Aruban Guilder

In [5]:
DimCustomer.head()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,NaN,Jon,V,Yang,False,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,NaN,Eugene,L,Huang,False,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,False,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,NaN,Christy,NaN,Zhu,False,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,False,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,2011-01-23,1-2 Miles